.messages__wrapper {
    display: flex;
    background-color: white;
}

.messages__dialogs {
    background-color: #1976d2;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 20px;
    line-height: 30px;
}

.messages__dialogs_link.messages__dialogs_link_active {
    color: #a1c7ef;
}

.messages__dialogs_link {
    text-decoration: none;
    color: white;
}

.messages__messages {
    padding: 10px 20px;
    font-size: 12px;
}

.messages__newMessage {
    display: flex;
    align-items: center;
}
