.profile__bio {
    display: grid;
    grid-template-areas: 'a i';
    grid-template-columns: 1fr 3fr;
    grid-gap: 5px;
}

.profile__bio h2 {
    color: #f0f2f5;
}

.profile__bio_avaAndSettingsSection {
    grid-area: a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__bio_img {
    margin: 10px;
    width: 150px;
    border-radius: 50%;
    background-color: #f0f2f5;
}

.profile__bio_settingsBlock {
    background-color: #f0f2f5;
    padding: 5px;
    color: black;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.profile__bio_settingsBlock_img {
    font-size: 10px;
    cursor: pointer;
}

.profile__bio_settingsBlock_img:hover {
    color: #529cc9;
}