.profile__wrapper {
    padding: 10px;
    background-color: white;
    color: #1976d2;
}

.profile__info {
    display: flex;
    padding: 10px;
}

.profile__avatar {
    width: 200px;
    border-radius: 60%;
}

.profile__info_text_name {
    background-color: #1976d2;
    padding: 5px;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.profile__newPost_textField {
    min-width: 100%;
}

.profile__info_text_block {
    padding: 10px;
}

.profile__post_wrapper {
    background-color: #a1c7ef;
}