.container {
    display: grid;
    grid-template-areas:
          'h h'
          's m'
          'f f';
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr auto auto;
    grid-gap: 10px;
}

header {
    grid-area: h;
    display: flex;
    justify-content: end;
    height: 60px;
    background-color: #006666;
}

aside {
    grid-area: s;
    display: flex;
    flex-direction: column;
}

main {
    grid-area: m;
    min-height: 100vh;
}

footer {
    grid-area: f;
    display: flex;
    justify-content: space-around;
}