.messages__container {
    flex: 0 0 70%;
    background-color: #283655;
    padding: 1em;
}

.messages__messages_window {
    height: 60vh;
    overflow: auto;
    background-color: #4D648D;
    border-radius: 0.3em;
    padding: 0.5em;
}

.messages__textarea {
    resize:none;
    width: 100%;
    min-height: 70px;
    border-radius: 5px;
    padding: 0.5em;
    margin-top: 0.5em;
    font-size: 1.2em;
}

.messages__button_container {
    text-align: right;
}

.messages__button_container_btn {
    cursor: pointer;
    padding: 0.4em 2em;
    background-color: #D0E1F9;
    color: #1E1F26;
    font-size: 1.1em;
    font-weight: 600;
    border-radius: 0.8em;
}
