.error__container {
    position: fixed;
    bottom: 20px;
    left: 300px;
    width: 250px;
    min-height: 50px;
    background-color: #ec5a5a;
    border-radius: 3px;
    border: 1px #624e4e solid;
    display: flex;
    align-items: start;
    justify-content: space-between;
    z-index: 1;
}

.close {
    opacity: 0;
    transition: opacity 1.5s;
}

.error__text {
    padding: 5px;
}

.error__btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.error__btn:hover {
    color: white;
}