.app__wrapper {
    max-width: 1080px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
            'h h'
            'n m'
            '. m'
            'f f';
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 60px auto auto auto;
    grid-gap: 10px;
}

header {
    grid-area: h;
}

nav {
    grid-area: n;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0px;
}

main {
    grid-area: m;
    min-height: 100vh;
    background-color: #001530;
}

footer {
    text-align: center;
    grid-area: f;
    padding: 30px;
    background-color: #001530;
    color: #f0f2f5;
}