@import '~antd/dist/antd.css';

.app__wrapper {
    max-width: 1080px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
            'h h'
            'n m'
            '. m'
            'f f';
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 60px auto auto auto;
    grid-gap: 10px;
}

main {
    grid-area: m;
    min-height: 100vh;
    background-color: #001530;
}