.preloader_wrapper {
    display: flex;
    align-items: center;
    background-color: #1E1F26;
    text-align: center;
    width: inherit;
    grid-area: c;
}

.preloader_img {
    width: 80px;
    margin: 100px auto 0;
}