.app_wrapper {
    max-width: 1080px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
            'h h'
            'c c';
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 60px 100vh;
    row-gap: 10px;
}


/*Palitra {*/
/*#D0E1F9 - Фиолетово-голубой*/

/*#4D648D - Черника*/

/*#283655 - Чернильный индиго*/

/*#1E1F26 - Полуночныйсиний*/

/*     #F9F9FF - белый */
/*}*/