.app__wrapper {

}
.app__container {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 'n c';
    grid-template-columns: 2fr 12fr;
    grid-gap: 10px;
}

.app__content {
    grid-area: c;
}